
:root{
    --mainColor:#eaeaea;
    --secondaryColor:#ffffff;

    --borderColor:#c1c1c1;

    --mainText:black;
    --secondaryText:#4b5156
}

html, body{
    padding: 0;
    margin: 0;
}

h1, h2, h3, h4, h5, h6, strong{
    color:var(--mainText);
}

p, li, span, label, input, textarea{
    color: var(--secondaryText);
}